/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  img {
    max-width: 100%
  }

  header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    border: 2px solid #000;
  }
  main {
    background-color: #fff;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    border: 2px solid #000;
  }
  footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    border: 2px solid #000;
  }

  footer a {
    color: rgb(0, 0, 0);
  }

  navigation {
    overflow-x: auto; 
  }
  
  navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  
  navigation li {
    margin-right: 10px;
    margin-bottom: 2px;
  }
  
  navigation a {
    color: #ff0000;
    text-decoration: none;
    white-space: nowrap; 
  }
  
  navigation li:not(:last-child)::after {
    content: "|"; 
    margin-left: 10px; 
    color: #000000;
  }
  .container {
    margin-top: 20px;
  }
  
  .data-table {
    border: 1px solid red;
    border-collapse: collapse;
    width: 90%; /* Set the table width to 90% */
    margin: 0 auto; /* Center the table horizontally */
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid red;
    padding: 1px;
  }
  
  .data-table th {
    background-color: #f1f1f1;
  }
  
  .data-table th,
  .data-table td {
    text-align: left;
  }

  
.indented-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
.indented-list li {
    margin-left: 20px; /* Indentation using margin */
  }

  label {
    display: block;
    font-weight: 700;
  }

.form-input {
  border: 2px solid red;
  font-size: 18px;
  border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;

}

[type="submit"] {
  background: rgb(160, 102, 102);
  border-radius: 3px;
  font-weight: 700;
  font-size: 1.5em;
  border: 0;
  Width: 50%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  cursor: pointer;
}

textarea {
resize: vertical;
}

 @media screen and (min-width: 1065px){ 
  form {
    width: 30%;
    margin: 3em auto;
  }
}

.error {
  border-color:#ff0000;

}
.error-message {
  color: red;
  font-weight: 700;
  margin: -1em 0 1.5em;
}